<dir class="mx-auto" style="width: 200px;">
  <h1 class="text-success">
    Carrito
  </h1>
</dir>
<br />


<div class="card">
  <form [formGroup]="formularioCliente" style="margin:50px;">
    <div class="row">

      <div class="col-4">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de Cliente">
          <p *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="text-danger"
             style="top:0px; position:relative; "> El campo nombre es obligatorio</p>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label>Documento</label>
          <input type="number" class="form-control" placeholder="Documento" formControlName="id">
          <p *ngIf="formularioCliente.controls['id'].invalid && formularioCliente.controls['id'].dirty" class="text-danger"
             style="top:0px; position:relative; "> El campo nombre es obligatorio</p>
        </div>
      </div>

      <div class="col-4">
        <div class="form-group">
          <label>Edad</label>
          <input type="number" class="form-control" placeholder="Edad" formControlName="edad">
          <p *ngIf="formularioCliente.controls['edad'].invalid && formularioCliente.controls['edad'].dirty" class="text-danger"
             style="top:0px; position:relative; "> El campo nombre es obligatorio</p>
        </div>
      </div>



    </div>
  </form>

  <div class="text-right">
    <h2>${{Valor}}</h2>
  </div>
  
  <button class="btn btn-warning mx-auto" style="width: 200px;" [disabled]="!formularioCliente.valid" (click)="CrearCompra()"> Comprar </button>


  <br />


</div>

<div class="table-responsive ">
  <table class="table  table-striped">
    <thead>
      <tr class="table-striped ">
        <th scope="col">Id </th>
        <th scope="col">Nombre </th>
        <th scope="col">osto</th>
        <th scope="col">Valor</th>
        <th scope="col">Cantidad</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of listaProductos" class="table-striped ">

        <td>{{li.id}} </td>
        <td>{{li.nombre}}</td>
        <td>{{li.costo}}</td>
        <td>{{li.valor}}</td>
        <td>{{li.cantidadPedido}}</td>
        <td>
          <div class="btn-group" role="group">



           
            <button (click)="Eliminar(li)" class="btn btn-danger">Eliminar</button>
          </div>


        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
